<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-6 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo" />
        </div>

        <h4>{{ page_title }}</h4>

        <h6 class="font-weight-light">{{ page_subtitle }}</h6>

        <form class="pt-3" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="mdi mdi-email-outline text-primary"></i>
                </span>
              </div>
              <input
                type="email"
                class="form-control form-control-lg border-left-0"
                autocomplete="email"
                name="email"
                placeholder="E-mail"
                maxlength="45"
                #email="ngModel"
                [(ngModel)]="user.email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              />
              <small
                *ngIf="!email.valid && email.touched"
                class="invalid-feedback d-block"
              >
                El e-mail no es válido.</small
              >
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="mdi mdi-lock-outline text-primary"></i>
                </span>
              </div>
              <input
                type="password"
                class="form-control form-control-lg border-left-0"
                autocomplete="new-password"
                name="password"
                placeholder="Contraseña"
                minlength="4"
                #password="ngModel"
                [(ngModel)]="user.password"
                required
              />
              <small
                *ngIf="!password.valid && password.touched"
                class="invalid-feedback d-block"
              >
                La contraseña no es válida, debe contener al menos 4
                caracteres.</small
              >
            </div>
          </div>
          <div class="text-right font-weight-light">
            <a routerLink="/forgot-password" class="text-info"
              ><strong>Olvidé mi contraseña</strong></a
            >
          </div>

          <div class="mt-3">
            <button
              type="submit"
              class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
              [disabled]="loginForm.invalid ? true : disabledBtn"
            >
              INGRESAR
            </button>
          </div>
          <div class="text-center mt-4 font-weight-light">
            No tienes una cuenta?
            <a routerLink="/register" class="text-success">Crear</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
