<div nz-row *ngIf="company.products && company.products.length == 0">
  <div
    nz-col
    [nzXs]="{ span: 24, offset: 0 }"
    [nzSm]="{ span: 8, offset: 8 }"
    [nzXl]="{ span: 4, offset: 10 }"
    class="mb-4"
  >
    <img
      src="assets/images/add-product.svg"
      alt="add-product"
      class="img-fluid rounded mx-auto d-block"
    />
  </div>
</div>

<div nz-row [nzGutter]="[24, 24]">
  <div
    nz-col
    [nzXs]="{ span: 24, offset: 0 }"
    [nzSm]="{ span: 12, offset: 0 }"
    [nzMd]="{ span: 8, offset: 0 }"
    [nzXl]="{ span: 6, offset: 0 }"
    *ngFor="let product of company.products"
  >
    <nz-badge
      [nzCount]="product.stock"
      [nzOffset]="[-20, 15]"
      [nzShowZero]="product.stock == 0 ? true : false"
      [nzStyle]="{
        backgroundColor: product.stock < 4 ? '#FF7C96' : '#B66CFF',
        color: '#fff',
        boxShadow: '0 0 0 1px #d9d9d9 inset'
      }"
    >
      <nz-card
        nzHoverable
        [nzCover]="coverTemplate"
        [nzActions]="[actionActivate, actionDelete]"
      >
        <div (click)="showModalEdit(product)">
          <div nz-row>
            <div nz-col nzSpan="24">
              <h5 nz-typography>
                {{ product.name }}
                <div class="text-info float-right">
                  ${{ product.price | number: "":"es" }}
                </div>
              </h5>
            </div>
          </div>

          <span
            nz-typography
            nzType="secondary"
            [innerHTML]="product.description | nzSanitizer: 'html'"
          ></span>
        </div>
      </nz-card>

      <ng-template #coverTemplate>
        <img
          [ngClass]="{
            filter: !product.is_active
          }"
          class="lazyload"
          alt="example"
          [attr.data-src]="url + 'product/image/' + product.image.url"
          (click)="showModalEdit(product)"
        />
      </ng-template>

      <ng-template #actionActivate>
        <button class="btn btn-icon" type="button">
          <nz-switch
            [ngModel]="product.is_active == 1 ? true : false"
            [nzControl]="true"
            (click)="clickSwitchProduct(product)"
            [nzLoading]="loading"
          ></nz-switch>
        </button>
      </ng-template>

      <ng-template #actionDelete>
        <button
          class="btn text-danger btn-icon"
          type="button"
          (click)="deleteProduct(product.id)"
        >
          <i class="mdi mdi-delete mdi-24px"></i>
        </button>
      </ng-template>
    </nz-badge>
  </div>
</div>

<!--* MODAL EDITAR PRODUCTO --->
<nz-modal
  [(nzVisible)]="isVisibleEdit"
  nzTitle="Editar Producto"
  (nzOnCancel)="handleCancel()"
  nzWidth="90%"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-product-edit [product]="product"></app-product-edit>
  </ng-container>
</nz-modal>
<!---- END OF MODAL EDITAR PRODUCTO ---->
