<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-store"></i> </span
    >{{ page_title }}
  </h3>

  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <button
        class="btn btn-inverse-info btn-rounded btn-icon"
        type="button"
        routerLink="/company"
        nzTooltipTitle="Haz click para volver atrás"
        nz-tooltip
      >
        <i class="mdi mdi-arrow-left-bold"></i>
      </button>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div class="row">
  <div class="col-md-12 col-lg-10 col-xl-8 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <p class="card-description">{{ page_subtitle }}</p>

        <app-form
          [url]="url"
          [company]="company"
          [nzUploadFileConfig]="nzUploadFileConfig"
          [handlePreview]="handlePreview"
          [beforeFileUpload]="beforeFileUpload"
          [fileList]="fileList"
          [summernote_options]="_util.summernote_options"
          [btnName]="btnName"
          (empresaSubmit)="onSubmit($event)"
          (nzChange)="handleChange($event)"
          [disabledBtn]="disabledBtn"
        ></app-form>
      </div>
    </div>
  </div>
</div>
