<nav
  class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
  >
    <a class="navbar-brand brand-logo" routerLink="/"
      ><img src="assets/images/logo.svg" alt="logo"
    /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"
      ><img src="assets/images/logo-mini.svg" alt="logo"
    /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
      (click)="toggleSidebar()"
    >
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a
          class="nav-link dropdown-toggle"
          id="profileDropdown"
          ngbDropdownToggle
        >
          <div class="nav-profile-img">
            <img
              [src]="
                identity.img
                  ? url + 'user/image/' + identity.img
                  : 'assets/images/profile-no-image.png'
              "
              alt="image"
            />
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{ identity.name }}</p>
          </div>
        </a>
        <div
          class="dropdown-menu navbar-dropdown"
          ngbDropdownMenu
          aria-labelledby="profileDropdown"
        >
          <a class="dropdown-item" [routerLink]="['/user/ajustes']">
            <i class="mdi mdi-account-settings mr-2 text-primary"></i>
            Ajustes
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" translate="">
            <i class="mdi mdi-logout mr-2 text-danger"></i>
            Salir
          </a>
        </div>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
