<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!-- <li class="nav-item" [ngClass]="{ active: dashboard.isActive }">
      <a
        class="nav-link"
        routerLink="dashboard"
        routerLinkActive
        #dashboard="routerLinkActive"
      >
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li> -->

    <li class="nav-item" [ngClass]="{ active: company.isActive }">
      <a
        class="nav-link"
        routerLink="company"
        routerLinkActive
        #company="routerLinkActive"
      >
        <span class="menu-title">Negocio</span>
        <i class="mdi mdi-store menu-icon"></i>
      </a>
    </li>

    <!--<li
      class="nav-item"
      [ngClass]="{ active: empresaList.isActive || empresaNew.isActive }"
    >
      <a
        class="nav-link"
        (click)="empresaCollapsed = !empresaCollapsed"
        [attr.aria-expanded]="empresaCollapsed"
        aria-controls="empresa"
      >
        <span class="menu-title">Empresa</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-store menu-icon"></i>
      </a>
      <div class="collapse" id="empresa" [ngbCollapse]="!empresaCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="empresa/lista"
              routerLinkActive="active"
              #empresaList="routerLinkActive"
              >Mantenedor</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="empresa/crear"
              routerLinkActive="active"
              #empresaNew="routerLinkActive"
              >Crear</a
            >
          </li>
        </ul>
      </div>
    </li> -->
  </ul>
</nav>
