<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-6 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo" />
        </div>

        <h4>{{ page_title }}</h4>

        <h6 class="font-weight-light">{{ page_subtitle }}</h6>

        <form
          class="pt-3"
          #forgotPassForm="ngForm"
          (ngSubmit)="onSubmit(forgotPassForm)"
        >
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                  <i class="mdi mdi-email-outline text-info"></i>
                </span>
              </div>
              <input
                type="email"
                class="form-control form-control-lg border-left-0"
                autocomplete="email"
                (input)="emailValue = $event.target.value"
                placeholder="E-mail"
                maxlength="45"
                required
              />
            </div>
          </div>

          <div class="mt-3">
            <button
              type="submit"
              class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn"
              [disabled]="disabledBtn"
            >
              RECUPERAR
            </button>
          </div>
          <div class="text-center mt-4 font-weight-light">
            <a routerLink="/login" class="text-primary">Iniciar Sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
