/* ::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 30%;
} */

::ng-deep .filter {
  background-color: #ffffff;
  opacity: 0.8;
  filter: grayscale(100%);
}
