<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-store"></i> </span
    >{{ page_title }}
  </h3>

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb bg-success">
      <li class="breadcrumb-item">
        <a routerLink="/company/create"
          ><h6 class="text-white mt-0 mb-0">
            Crear <i class="mdi mdi-plus"></i>
          </h6>
        </a>
      </li>
    </ol>
  </nav>
</div>

<div nz-row *ngIf="companies && companies.length == 0">
  <div
    nz-col
    [nzXs]="{ span: 24, offset: 0 }"
    [nzSm]="{ span: 8, offset: 8 }"
    [nzXl]="{ span: 4, offset: 10 }"
    class="mt-4"
  >
    <img
      src="assets/images/undraw_address_udes.svg"
      alt="add-company"
      class="img-fluid rounded mx-auto d-block"
    />
    <p class="text-primary text-center mt-4">
      Aún no ha creado ningún negocio...
    </p>
  </div>
</div>

<div class="row" *ngFor="let company of companies">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <div class="media">
            <img
              [ngClass]="{
                filter: !company.is_active
              }"
              alt="image"
              class="img-sm mr-2 rounded-circle d-flex align-self-center lazyload"
              [attr.data-src]="
                company.image
                  ? url + 'company/image/' + company.image.url
                  : 'assets/images/no-image.png'
              "
            />

            <div class="media-body d-flex align-self-center">
              <h4
                nz-typography
                [ngClass]="{
                  'text-primary': company.is_active,
                  'text-muted': !company.is_active
                }"
                class="card-text"
              >
                {{ company.name }}
              </h4>
            </div>

            <div aria-label="Basic example" class="btn-group" role="group">
              <button class="btn btn-icon" type="button">
                <nz-switch
                  [ngModel]="company.is_active == 1 ? true : false"
                  [nzControl]="true"
                  (click)="clickSwitch(company.id, company.is_active)"
                  [nzLoading]="loading"
                ></nz-switch>
              </button>
              <button
                class="btn text-danger btn-icon ml-2"
                type="button"
                (click)="deleteCompany(company.id)"
                nzTooltipTitle="Eliminar {{ company.name }}"
                nz-tooltip
              >
                <i class="mdi mdi-delete mdi-24px"></i>
              </button>
            </div>
          </div>
        </h4>

        <nz-tabset>
          <nz-tab nzTitle="Productos">
            <div class="form-group row d-flex">
              <div class="col-12">
                <button
                  class="btn btn-gradient-primary btn-rounded btn-icon float-right"
                  type="button"
                  (click)="showModalCreate(company.id)"
                >
                  <i class="mdi mdi-cart-plus"></i>
                </button>
              </div>
            </div>
            <section
              [ngClass]="{
                filter: !company.is_active
              }"
            >
              <app-product-index
                [company]="company"
                [url]="url"
                (productDelete)="deleteProduct($event)"
                (clickSwitch)="clickSwitchProduct($event)"
                [loading]="loading"
              ></app-product-index>
            </section>
          </nz-tab>

          <nz-tab nzTitle="Información">
            <app-form
              [url]="url"
              [company]="company"
              [nzUploadFileConfig]="nzUploadFileConfig"
              [handlePreview]="handlePreview"
              [beforeFileUpload]="beforeFileUpload"
              [fileList]="fileList"
              [summernote_options]="_util.summernote_options"
              [btnName]="btnName"
              (empresaSubmit)="onSubmit($event)"
              (nzChange)="handleChange($event)"
              [disabledBtn]="disabledBtn"
            ></app-form>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</div>

<!--* MODAL NUEVO PRODUCTO --->
<nz-modal
  [(nzVisible)]="isVisibleCreate"
  nzTitle="Nuevo Producto"
  (nzOnCancel)="handleCancel()"
  nzWidth="90%"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-product-create (newProduct)="refreshCompanies()"></app-product-create>
  </ng-container>
</nz-modal>
<!---- END OF MODAL NUEVO PRODUCTO ---->
