<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-account-settings"></i> </span
    >{{ page_title }}
  </h3>
</div>

<div class="row">
  <div class="col-md-12 col-lg-10 col-xl-8 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body">
        <p class="card-description">{{ page_subtitle }}</p>

        <form
          nz-form
          [formGroup]="userForm"
          (ngSubmit)="onSubmit(userForm.value)"
        >
          <div class="row">
            <div class="col-md-5 text-center">
              <div class="form-group">
                <img
                  nz-image
                  alt="profile-image"
                  class="rounded mw-100"
                  [nzSrc]="
                    identity.img
                      ? url + 'user/image/' + identity.img
                      : 'assets/images/profile-no-image.png'
                  "
                />
              </div>

              <div class="form-group">
                <nz-upload
                  nzListType="picture"
                  [nzHeaders]="nzUploadFileConfig.headers"
                  [nzAction]="nzUploadFileConfig.url"
                  (nzChange)="handleChange($event)"
                  [nzPreview]="handlePreview"
                  [nzBeforeUpload]="beforeFileUpload"
                  [(nzFileList)]="fileList"
                  [nzShowButton]="fileList.length < 1"
                >
                  <button
                    class="btn btn btn-outline-success btn-fw btn-sm"
                    type="button"
                  >
                    <i class="mdi mdi-image btn-icon-prepend"></i>
                    Seleccione avatar
                  </button>
                </nz-upload>
              </div>
            </div>

            <div class="col-md-7">
              <!-- información -->
              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Nombre</nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  [nzSpan]="24"
                  [nzErrorTip]="nameError"
                >
                  <input nz-input formControlName="name" />
                  <ng-template #nameError let-control>
                    <ng-container *ngIf="control.hasError('maxlength')"
                      >Máximo de 45 caracteres.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')"
                      >Mínimo de 2 caracteres.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')"
                      >Caracteres no válidos.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')"
                      >El nombre es obligatorio.
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired>Email</nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  [nzSpan]="24"
                  [nzErrorTip]="emailError"
                >
                  <input nz-input formControlName="email" />
                  <ng-template #emailError let-control>
                    <ng-container *ngIf="control.hasError('email')">
                      El e-mail no es válido.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                      El e-mail es obligatorio.
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <!-- contraseña -->
              <nz-collapse [nzBordered]="false">
                <nz-collapse-panel
                  #p
                  *ngFor="let panel of panels"
                  [nzHeader]="panel.name"
                  [nzActive]="panel.active"
                  [ngStyle]="panel.customStyle"
                >
                  <nz-form-item>
                    <nz-form-label [nzSpan]="24" nzFor="password"
                      >Nueva contraseña</nz-form-label
                    >
                    <nz-form-control
                      nzHasFeedback
                      [nzSpan]="24"
                      nzErrorTip="La contraseña no es válida, debe contener al menos 4 caracteres."
                    >
                      <input
                        nz-input
                        type="password"
                        autocomplete="off"
                        formControlName="password"
                        (ngModelChange)="updateConfirmValidator()"
                      />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label [nzSpan]="24" nzFor="checkPassword"
                      >Confirmar contraseña</nz-form-label
                    >
                    <nz-form-control
                      nzHasFeedback
                      [nzSpan]="24"
                      [nzErrorTip]="errorTpl"
                    >
                      <input
                        nz-input
                        type="password"
                        autocomplete="off"
                        formControlName="checkPassword"
                      />
                      <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('confirm')">
                          Las contraseñas no coinciden.
                        </ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </nz-collapse-panel>
              </nz-collapse>

              <!-- boton actualizar-->
              <button
                type="submit"
                [ngClass]="
                  userForm.invalid
                    ? 'btn-gradient-secondary'
                    : 'btn-gradient-primary'
                "
                class="float-right btn-block btn"
                [disabled]="userForm.invalid ? true : disabledBtn"
              >
                Actualizar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
