<form
  nz-form
  class="forms-sample"
  #companyForm="ngForm"
  (ngSubmit)="onSubmit(companyForm)"
>
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="form-group">
        <img
          nz-image
          class="rounded mw-100"
          [nzSrc]="
            company.image
              ? company.image.url
                ? url + 'company/image/' + company.image.url
                : url + 'company/image/' + company.image
              : 'assets/images/no-image.png'
          "
          [alt]=""
        />
      </div>

      <div class="form-group">
        <nz-upload
          nzListType="picture"
          [nzHeaders]="nzUploadFileConfig.headers"
          [nzAction]="nzUploadFileConfig.url"
          (nzChange)="handleChange($event)"
          [nzPreview]="handlePreview"
          [nzBeforeUpload]="beforeFileUpload"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 1"
        >
          <button
            class="btn btn btn-outline-success btn-fw btn-sm"
            type="button"
          >
            <i class="mdi mdi-image btn-icon-prepend"></i>
            Seleccione imagen
          </button>
        </nz-upload>
      </div>
    </div>

    <div class="col-md-7">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="company.id" />

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Nombre</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzSpan]="24"
          [nzErrorTip]="nameErrorTpl"
        >
          <input
            nz-input
            #name="ngModel"
            [(ngModel)]="company.name"
            name="name"
            minlength="2"
            maxlength="45"
            required
          />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')"
              >Máximo de 45 caracteres.</ng-container
            >
            <ng-container *ngIf="control.hasError('minlength')"
              >Mínimo de 2 caracteres.</ng-container
            >
            <ng-container *ngIf="control.hasError('required')"
              >Campo obligatorio.</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Descripción</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <textarea
            [ngxSummernote]="summernote_options"
            class="form-control"
            name="description"
            rows="8"
            maxlength="2000"
            #description="ngModel"
            [(ngModel)]="company.description"
          >
          </textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-md-12">
      <nz-divider nzText="Sucursal" nzOrientation="left"></nz-divider>

      <div class="form-group row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired
              >Calle o Pasaje</nz-form-label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="calleErrorTpl"
            >
              <input
                nz-input
                #calle="ngModel"
                [(ngModel)]="
                  company.address ? company.address[0].calle : company.calle
                "
                name="calle"
                maxlength="45"
                required
              />
              <ng-template #calleErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Máximo de 45 caracteres.</ng-container
                >
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Nº</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="numberErrorTpl"
            >
              <input
                nz-input
                type="number"
                #numero="ngModel"
                [(ngModel)]="
                  company.address ? company.address[0].numero : company.numero
                "
                name="numero"
                min="0"
                pattern="^[0-9]+"
                required
              />
              <ng-template #numberErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')"
                  >Campo no es válido.</ng-container
                >
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Villa</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nz-input
                #villa="ngModel"
                [(ngModel)]="
                  company.address ? company.address[0].villa : company.villa
                "
                name="villa"
                maxlength="45"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Referencia</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input
                nz-input
                #referencia="ngModel"
                [(ngModel)]="
                  company.address
                    ? company.address[0].referencia
                    : company.referencia
                "
                name="referencia"
                maxlength="45"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Teléfono</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="phoneErrorTpl"
            >
              <nz-input-group nzPrefix="+56">
                <input
                  nz-input
                  type="tel"
                  #phone="ngModel"
                  [(ngModel)]="
                    company.address ? company.address[0].phone : company.phone
                  "
                  name="phone"
                  minlength="9"
                  maxlength="9"
                  pattern="^[0-9]+"
                  required
                />
              </nz-input-group>
              <ng-template #phoneErrorTpl let-control>
                <ng-container *ngIf="control.hasError('minlength')"
                  >Debe tener 9 caracteres.
                </ng-container>
                <ng-container *ngIf="control.hasError('maxlength')"
                  >Debe tener 9 caracteres.
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')"
                  >El Nº de teléfono no es válido.
                </ng-container>
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired
              >Valor de envío (dejar en 0 para envios gratis)</nz-form-label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="deliveryErrorTpl"
            >
              <nz-input-group nzPrefix="$" nzSuffix="CLP">
                <input
                  nz-input
                  type="number"
                  #valor_envio="ngModel"
                  [(ngModel)]="
                    company.address
                      ? company.address[0].valor_envio
                      : company.valor_envio
                  "
                  name="valor_envio"
                  min="0"
                  pattern="^[0-9]+"
                  required
                />
              </nz-input-group>
              <ng-template #deliveryErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')"
                  >Campo no es válido.
                </ng-container>
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired
              >Horario apertura</nz-form-label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="horarioIniErrorTpl"
            >
              <input
                nz-input
                type="time"
                #horario_ini="ngModel"
                [(ngModel)]="
                  company.address
                    ? company.address[0].horario_ini
                    : company.horario_ini
                "
                name="horario_ini"
                required
              />
              <ng-template #horarioIniErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired
              >Horario cierre</nz-form-label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="horarioFinErrorTpl"
            >
              <input
                nz-input
                type="time"
                #horario_fin="ngModel"
                [(ngModel)]="
                  company.address
                    ? company.address[0].horario_fin
                    : company.horario_fin
                "
                name="horario_fin"
                required
              />
              <ng-template #horarioFinErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <button
        type="submit"
        [ngClass]="{
          'btn-gradient-primary': !companyForm.invalid,
          'btn-gradient-secondary': companyForm.invalid
        }"
        class="col-md-3 float-right btn btn-block"
        [disabled]="companyForm.invalid ? true : disabledBtn"
      >
        {{ btnName }}
      </button>
    </div>
  </div>
</form>
