<form
  class="forms-sample"
  #productForm="ngForm"
  (ngSubmit)="onSubmit(productForm)"
>
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="form-group">
        <img
          nz-image
          class="rounded mw-100"
          [nzSrc]="
            productDetail.image
              ? productDetail.image.url
                ? url + 'product/image/' + productDetail.image.url
                : url + 'product/image/' + productDetail.image
              : 'assets/images/no-image.png'
          "
          [alt]=""
        />
      </div>

      <div class="form-group">
        <nz-upload
          nzListType="picture"
          [nzHeaders]="nzUploadFileConfig.headers"
          [nzAction]="nzUploadFileConfig.url"
          (nzChange)="handleChange($event)"
          [nzPreview]="handlePreview"
          [nzBeforeUpload]="beforeFileUpload"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 1"
        >
          <button
            class="btn btn btn-outline-success btn-fw btn-sm"
            type="button"
          >
            <i class="mdi mdi-image btn-icon-prepend"></i>
            Seleccione imagen
          </button>
        </nz-upload>
      </div>
    </div>

    <div class="col-md-7">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Nombre</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzSpan]="24"
          [nzErrorTip]="nameErrorTpl"
        >
          <input
            nz-input
            [ngModel]="productDetail.name"
            name="name"
            minlength="2"
            maxlength="45"
            required
          />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')"
              >Máximo de 45 caracteres.</ng-container
            >
            <ng-container *ngIf="control.hasError('minlength')"
              >Mínimo de 2 caracteres.</ng-container
            >
            <ng-container *ngIf="control.hasError('required')"
              >Campo obligatorio.</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24">Descripción</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="descriptionErrorTpl">
          <nz-textarea-count [nzMaxCharacterCount]="500">
            <textarea
              nz-input
              [ngxSummernote]="summernote_options"
              class="form-control"
              name="description"
              rows="8"
              maxlength="500"
              [ngModel]="productDetail.description"
            >
            </textarea>
          </nz-textarea-count>

          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')"
              >Máximo de 500 caracteres.</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-md-12">
      <div class="form-group row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Precio</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="priceErrorTpl"
            >
              <nz-input-group nzPrefix="$" nzSuffix="CLP">
                <input
                  nz-input
                  type="number"
                  [ngModel]="productDetail.price"
                  name="precio"
                  min="0"
                  pattern="^[0-9]+"
                  required
                />
              </nz-input-group>
              <ng-template #priceErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')"
                  >Campo no es válido.</ng-container
                >
                <ng-container *ngIf="control.hasError('required')"
                  >Campo obligatorio.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Stock</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="24"
              [nzErrorTip]="stockErrorTpl"
            >
              <input
                nz-input
                [ngModel]="productDetail.stock"
                name="stock"
                pattern="^[0-9]+"
              />
              <ng-template #stockErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')"
                  >Campo no es válido.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-light" (click)="closeModal()">
        Cancelar
      </button>

      <button
        type="submit"
        [ngClass]="{
          'btn-gradient-primary': !productForm.invalid,
          'btn-gradient-secondary': productForm.invalid
        }"
        class="btn"
        [disabled]="productForm.invalid ? true : disabledBtn"
      >
        {{ btnName }}
      </button>
    </div>
  </div>
</form>
